<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div style="text-align: center; margin-top: 10%;">
<hr>
  <a href="https://ca.linkedin.com/in/arian-fotouhi" style="margin-right: 5%;">  <i class="fa fa-linkedin" style="font-size: 1em;"></i></a>

  <a href="https://github.com/ArianFotouhi/" style="margin-right: 5%;"><i class="fa fa-github-square fa" style="font-size: 1em;"></i>  </a>

<a href="https://www.instagram.com/arian.fotouhi/" style="margin-right: 5%;"><i class="fa fa-instagram" style="font-size:1em"></i></a>

<a href="mailto:fotouhiarian@gmail.com"><i class="fa fa-google" style="font-size:1em"></i></a>

 <p style="color: white; margin-top: 0.5%;"><i class="fa fa-copyright" style="color: white;" ></i> Copyright 2023: Arian Fotouhi</p>

</div>
