
<div class="container" style="color:white;margin-top: 1%;">
<h3>Hi!</h3>
<h5>I am a Master of Applied Science student at <a href="https://www.concordia.ca/" style="color: white;">Concordia University</a>. I study Computer Engineering and also my research and development fields are machine learning and blockchain, under supervision of Dr. Jun Cai. </h5>
<h5>Plus, I am an enthusiastic developer who likes to design machine learning and deep learning models then represent them via proper backend and frontend development of web applications.
</h5>
<h5>
  Feel free to message me in the below social media or send an email to <a href="mailto:fotouhiarian@gmail.com">fotouhiarian@gmail.com</a> in case of any potential collaboration or inquiry.
</h5>
</div>
