
<div class="container" style="color:white;margin-top: 1%;">
<h3>Hi!</h3>
<p>
  I'm Arian, an AI Software Developer at IEG. I build end-to-end Generative AI applications with a strong focus on fine-tuning, RAG (Retrieval-Augmented Generation), and prompt engineering of large language models like LLaMA and GPT. My work revolves around developing intelligent chatbots and agent systems—ranging from customer service assistants to code- and SQL-generating bots—designed to understand real-world data and respond accurately.
</p>
<p>
I handle the full lifecycle: from building and
 testing (unit testing LLM outputs with frameworks like DeepEval) to deploying at scale using cloud 
 platforms like AWS and GCP. I also design custom APIs and pipelines to integrate real-time data, user 
 uploads, and document analysis into AI apps, ensuring they’re both scalable and production-ready. Whether 
 it’s conversational memory, low-latency response tuning, or cost-efficient inference, I optimize for both performance and impact.
</p>

<p>
  Feel free to message me in the below social media or send an email to <a href="mailto:arianfotouhi7@gmail.com">arianfotouhi7@gmail.com</a> in case of any potential collaboration or inquiry.
</p>
</div>
