
<div class="container" style="color:white;margin-top: 1%;">
<h3>Hi!</h3>
<h5>This is Arian, AI Software Developer at IEG. I am so enthusiastic developer who designs and fine-tunes machine learning and deep learning models then represent them via proper backend and frontend development of web applications.</h5>
<h5>Prior to that, I was a Master of Applied Science student at <a href="https://www.concordia.ca/" style="color: white;">Concordia University</a>. I studied Computer Engineering and also my research and development fields were machine learning and blockchain, under supervision of Dr. Jun Cai. </h5>
<h5>
</h5>
<h5>
  Feel free to message me in the below social media or send an email to <a href="mailto:arianfotouhi7@gmail.com">arianfotouhi7@gmail.com</a> in case of any potential collaboration or inquiry.
</h5>
</div>
