<div class="container" style="margin-top: 3%; ">
  <div class="row" style="margin-top: 2%;max-width: 100%;max-height: 100%;">

    <div class="col" style="background-color:rgb(215, 254, 255);">
      <div class="mx-auto" style="width: 200px;">
        <div class="content_img">
          <img src="https://arianfotouhi.github.io/PersonalWeb/assets/projects/image_clf_api.jpg" width="100%" height="auto">
          <div>
            Furniture image classifier, represented as a web application and deployed on Docker and exposed as a Kubernetes app on AWS EC2 (utilizing GitHub CICD)
            <a href="https://github.com/ArianFotouhi/ClassifierAPI">GitHub link</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col" style="background-color:rgb(255, 250, 219);">
      <div class="mx-auto" style="width: 200px;">
        <div class="content_img">
          <img src="https://arianfotouhi.github.io/PersonalWeb/assets/projects/stock_google.jpg" width="100%" height="auto">
          <div>
            Prediction of Stock price using RNNs. Prediction of day N is based on day N-60 to N-1.
            <a href="https://github.com/ArianFotouhi/Google_stock_pred_rnns/">GitHub link</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col" style="background-color:rgb(252, 225, 249); position: relative;">
      <div class="mx-auto" style="width: 200px;">
        <div class="content_img">
          <img src="https://arianfotouhi.github.io/PersonalWeb/assets/projects/movie_rec.jpg" width="100%" height="auto">
          <div>
            Movie recommender (Collaborative filtering based) developed using Databricks, EC2, PySpark. Deployed on AirFlow when divided into four dags of ETL, Model init, Train and Test.
          </div>
        </div>
      </div>
    </div>

    <div class="col" style="background-color:rgb(207, 245, 255);">
      <div class="mx-auto" style="width: 200px;">
        <div class="content_img">
          <img src="https://arianfotouhi.github.io/PersonalWeb/assets/projects/BLC.jpg" width="100%" height="auto">
          <div>Blockchain-based data sharing web application by Flask (backend) and Angular (frontend).</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Second Row -->
  <div class="row" style="margin-top: 2%;max-width: 100%;max-height: 100%;">

    <div class="col" style="background-color:rgb(255, 201, 224);">
      <div class="mx-auto" style="width: 200px;">
        <div class="content_img">
          <img src="https://arianfotouhi.github.io/PersonalWeb/assets/projects/face_det.jpg" width="100%" height="auto">
          <div>
            An application for real-time detection of face, mouth and eyes (using webcam), built based on OpenCV.
            <a href="https://github.com/ArianFotouhi/face_detection">GitHub link</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col" style="background-color:rgb(213, 230, 255); position: relative;">
      <div class="mx-auto" style="width: 200px;">
        <div class="content_img">
          <img src="https://arianfotouhi.github.io/PersonalWeb/assets/projects/cat_dog.jpg" width="100%" height="auto">
          <div>
            A CNN-based classifier of cat and dog images.
            <a href="https://github.com/ArianFotouhi/cnn_dog_cat">GitHub link</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col" style="background-color:rgb(255, 195, 177);">
      <div class="mx-auto" style="width: 200px;">
        <div class="content_img">
          <img src="https://arianfotouhi.github.io/PersonalWeb/assets/projects/nlp_rest.jpg" width="100%" height="auto">
          <div>
            An NLP program for sentiment analysis and classification of customer comments on a certain restaurant.
            Naive Bayes is the ML technique used.
            <a href="https://github.com/ArianFotouhi/NLP_ML_restaurant_comments">GitHub link</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col" style="background-color:rgb(255, 234, 252);">
      <div class="mx-auto" style="width: 200px;">
        <div class="content_img">
          <img src="https://arianfotouhi.github.io/PersonalWeb/assets/projects/scholar_engine.jpg" width="100%" height="auto">
          <div>
            Web application for Data Engineering purposes (using Selenium) to implement ETL process for finding researcher closeness based on collaborations.
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
