<div class="container" style="margin-top: 3%; ">
  <div class="row" style="margin-top: 2%;max-width: 100%;max-height: 100%;">

    <div class="col" style="background-color:rgb(215, 254, 255);">
      <div class="mx-auto" style="width: 200px;">
        <div class="content_img">
          <img src="https://arianfotouhi.github.io/PersonalWeb/assets/projects/image_clf_api.jpg" width="100%" height="auto">
          <div>
            Furniture image classifier, represented as a web application and deployed on Docker and exposed as a Kubernetes app on AWS EC2 (utilizing GitHub CICD)
            <a href="https://github.com/ArianFotouhi/ClassifierAPI">GitHub link</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col" style="background-color:rgb(255, 250, 219);">
      <div class="mx-auto" style="width: 200px;">
        <div class="content_img">
          <img src="https://arianfotouhi.github.io/PersonalWeb/assets/projects/stock_google.jpg" width="100%" height="auto">
          <div>
            Talk to your own data! Using SQL agents. Manual version offers lower latency and cost, while agent-based Langchain approach handles structure automatically but with less accuracy.
            <a href="https://github.com/ArianFotouhi/PersonalChatBot">GitHub link</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col" style="background-color:rgb(252, 225, 249); position: relative;">
      <div class="mx-auto" style="width: 200px;">
        <div class="content_img">
          <img src="https://arianfotouhi.github.io/PersonalWeb/assets/projects/movie_rec.jpg" width="100%" height="auto">
          <div>
            Fine-tuned LLaMA 3 models for code agent and SQL agent using LoRA and 4-bit quantization. Improves performance on programming tasks and text-to-SQL conversions with reduced resource usage.
            <a href="https://github.com/ArianFotouhi/llama3_finetuner">GitHub link</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col" style="background-color:rgb(207, 245, 255);">
      <div class="mx-auto" style="width: 200px;">
        <div class="content_img">
          <img src="https://arianfotouhi.github.io/PersonalWeb/assets/projects/BLC.jpg" width="100%" height="auto">
          <div>Evaluation framework for LLM outputs using DeepEval, covering Bias, Correctness (GEval), Hallucination, and Relevancy. Enables unit testing and quality checks of model responses using contextual and factual benchmarks.
            <a href="https://github.com/ArianFotouhi/llmEvaluation-DeepEval">GitHub link</a>

          </div>
          
        </div>
      </div>
    </div>
  </div>

  <!-- Second Row -->
  <div class="row" style="margin-top: 2%;max-width: 100%;max-height: 100%;">

    <div class="col" style="background-color:rgb(255, 201, 224);">
      <div class="mx-auto" style="width: 200px;">
        <div class="content_img">
          <img src="https://arianfotouhi.github.io/PersonalWeb/assets/projects/face_det.jpg" width="100%" height="auto">
          <div>
            An application for real-time detection of face, mouth and eyes (using webcam), built based on OpenCV.
            <a href="https://github.com/ArianFotouhi/face_detection">GitHub link</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col" style="background-color:rgb(213, 230, 255); position: relative;">
      <div class="mx-auto" style="width: 200px;">
        <div class="content_img">
          <img src="https://arianfotouhi.github.io/PersonalWeb/assets/projects/cat_dog.jpg" width="100%" height="auto">
          <div>
            Full-stack AI assistant for real-time data access and document analysis, built with Python (backend) and Next.js/React (frontend). Users can upload files or input URLs to get instant answers using their OpenAI API key.
            <a href="https://github.com/ArianFotouhi/ragGPT">GitHub link</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col" style="background-color:rgb(255, 195, 177);">
      <div class="mx-auto" style="width: 200px;">
        <div class="content_img">
          <img src="https://arianfotouhi.github.io/PersonalWeb/assets/projects/nlp_rest.jpg" width="100%" height="auto">
          <div>
            End-to-end LLMOps pipeline using Kubeflow to fine-tune LLaMA 3 on daily music chart data from the Deezer API. Automates data fetching, model training, and inference in a scalable, reproducible workflow.
            <a href="https://github.com/ArianFotouhi/LLMOpsKubeflow">GitHub link</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col" style="background-color:rgb(255, 234, 252);">
      <div class="mx-auto" style="width: 200px;">
        <div class="content_img">
          <img src="https://arianfotouhi.github.io/PersonalWeb/assets/projects/scholar_engine.jpg" width="100%" height="auto">
          <div>
            Continuous ML training pipeline using Airflow on Google Cloud Composer for Ham/Spam detection. Automates data extraction, model training, and logs results to Cloud Storage, Logging, and BigQuery.
            <a href="https://github.com/ArianFotouhi/AirflowOnGCP">GitHub link</a>
            
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
