
<div class="container" style="margin-top: 13%;">
  <div class="col">
    <h2 class="titulo">Programming</h2>
    <ul class="skill">
      <li><span class="blueline python"></span><em>Python</em></li>
      <li><span class="blueline Javascript"></span><em>Javascript</em></li>
      <li><span class="blueline c"></span><em>C++</em></li>
      <li><span class="blueline Typescript"></span><em>Typescript</em></li>
      <li><span class="blueline SQL"></span><em>SQL</em></li>

    </ul>
  </div>
    <div class="col">
    <h2 class="plataformas titulo">AI</h2>
    <ul class="skill">
      <li><span class="greenline PyTorch"></span><em>PyTorch</em></li>
      <li><span class="greenline TensorFlow"></span><em>TensorFlow</em></li>
      <li><span class="greenline scikit-learn"></span><em>scikit-learn</em></li>
      <li><span class="greenline Matplotlib"></span><em>Matplotlib</em></li>
      <li><span class="greenline Pandas"></span><em>Pandas</em></li>
    </ul>
  </div>
    <div class="col">
    <h2 class="programas titulo">Web</h2>
    <ul class="skill">
      <li><span class="redline Flask"></span><em>Flask</em></li>
      <li><span class="redline Flask"></span><em>Django</em></li>
      <li><span class="redline Kubernetes"></span><em>Kubernetes</em></li>
      <li><span class="redline Angular"></span><em>Angular</em></li>
      <li><span class="redline AWS"></span><em>AWS</em></li>
    </ul>
  </div>
</div>

