<div class="container" style="margin-top: 1%;">
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://www.udemy.com/course/machinelearning/" target="_blank">
          <img src="../assets/certificate/cert-1ML.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p>Machine Learning A-Z™: Python & R in Data Science</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://www.udemy.com/course/deeplearning/" target="_blank">
          <img src="../assets/certificate/cert-2DL.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p>Deep Learning A-Z™: Hands-On Artificial Neural Networks</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://www.udemy.com/course/computer-vision-a-z/" target="_blank">
          <img src="../assets/certificate/cert-3cv.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Deep Learning and Computer Vision A-Z™: OpenCV, SSD & GANs</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container" style="margin-top: 1%;">
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://www.udemy.com/course/the-complete-web-development-bootcamp/" target="_blank">
          <img src="../assets/certificate/cert-4web.jpg" alt="Lights" style="width:100% ">
          <div class="caption">
            <p>The Complete Web Development Bootcamp</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://www.udemy.com/course/the-complete-sql-bootcamp/" target="_blank">
          <img src="../assets/certificate/cert-4sql.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p>The Complete SQL Bootcamp: Go from Zero to Hero</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://www.udemy.com/course/spark-and-python-for-big-data-with-pyspark/" target="_blank">
          <img src="../assets/certificate/cert-6spark.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Spark and Python for Big Data with PySpark</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
